<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssolution.admin.system.mapper.common.popup.UserPopupMapper">
    <!-- 사용자 목록 조회 -->
    <select id="getUserListPopup" parameterType="UserPopupVO" resultType="managerMngAdminVO">
        with recursive ORG_INFO(
                                 ORG_ID
                                ,ORG_NM ) as (
                    select
                         RORG.ORG_ID
                        ,RORG.ORG_NM
                    from
                        TSYOR_ORG_INFO RORG
                    where
                            RORG.APLY_STRT_DT &lt;= TO_CHAR(now(),'YYYYMMDD')
                        AND RORG.APLY_END_DT  &gt;= TO_CHAR(now(),'YYYYMMDD')
                        AND RORG.ORG_ID = #{srchOrgId}
                    union all
                    select
                         ORG.ORG_ID
                        ,ORG.ORG_NM
                    from
                        TSYOR_ORG_INFO ORG,
                        ORG_INFO RORG
                    where
                            ORG.APLY_STRT_DT &lt;= TO_CHAR(now(),'YYYYMMDD')
                        AND ORG.APLY_END_DT  &gt;= TO_CHAR(now(),'YYYYMMDD')
                        AND ORG.UPP_ORG_ID    = RORG.ORG_ID
        )
        SELECT /* UserMngAdminMapper.getUserListPopup, JHLee, 2017.12.29 */ 
            USR.USER_ID
          , USR.USER_NM
          , USR.PSWD
          , USR.USER_GRP_ID
          ,(SELECT AUTH_GRP_NM 
            FROM TSYAU_AUTH_GRP AUTHGRP 
            WHERE USR.USER_GRP_ID = AUTHGRP.AUTH_GRP_ID) AS USER_GRP_NM
          , USR.ORG_ID
          , ORG.ORG_NM
          , USR.USER_TP
          , USR.EMP_NO
          , USR.PSTN
          , FSYCD_CODE_NAME('AW00009', USR.PSTN)           AS PSTN_NM
          , USR.RSPOFC
          , FSYCD_CODE_NAME('AW00010', USR.RSPOFC)         AS RSPOFC_NM
          , USR.TEL_NO
          , USR.CELL_PHN_NO
          , USR.EMAIL
          , USR.PERM_IP_BAND
          , USR.PSWD_CHG_PLN_DT
          , USR.PSWD_CHG_CYCL
          , USR.USE_YN
          , USR.LOCK_YN
          , USR.PSWD1
          , USR.PSWD2
          , USR.LOGIN_FAIL_CNT
          , USR.LAST_LOGIN_DATE1
          , USR.LAST_LOGIN_DATE2
          , USR.INPT_MENU_ID
          , USR.REGR_ID
          , FSYUS_USR_NM(USR.REGR_ID) AS REGR_NM
          , USR.REG_DATE
          , USR.CHGR_ID
          , FSYUS_USR_NM(USR.CHGR_ID) AS CHGR_NM
          , USR.CHG_DATE
        FROM
            TSYUS_USER USR
          , ORG_INFO   ORG
        WHERE 1 = 1
          AND USR.ORG_ID = ORG.ORG_ID
        <if test="managerId != null and managerId != ''">
          AND USR.USER_ID     = #{managerId}
        </if>
        <if test="managerNm != null and managerNm != ''">
          AND USR.USER_NM LIKE CONCAT(CONCAT( '%',#{managerNm} ),'%')
        </if>
        <if test="useYn != null and useYn != '' and useYn != 'ALL'">
          AND USR.USE_YN = #{useYn}
        </if>  
        <if test="lockYn != null and lockYn != '' and lockYn != 'ALL'">
          AND USR.LOCK_YN = #{lockYn}
        </if>
        <if test="orgId != null and orgId != ''">
          AND ORG.ORG_ID = #{orgId}
        </if>
        <if test="orgNm != null and orgNm != ''">
          AND ORG.ORG_NM LIKE CONCAT(CONCAT('%' , #{orgNm}) , '%')
        </if>
        ORDER BY USR.USER_NM 
    </select>


  <!-- 사용자 조직 및 상위 조직 조회 -->
    <select id="getUserUppOrg" parameterType="UserPopupVO" resultType="managerMngAdminVO">
    	 SELECT  /* UserMngAdminMapper.getUserUppOrg, 박근, 2018.02.21 */
        	 UPP_ORG_ID
            ,FSYOR_ORG_NM(UPP_ORG_ID)	AS UPP_ORG_NM
            ,ORG_ID 
            ,ORG_NM
          FROM  TSYOR_ORG_INFO
          WHERE  ORG_ID      = #{uppOrgId}
            AND  APLY_END_DT = '99991231'
    </select>
</mapper>